.jumbotron {
  background-image: url('https://raw.githubusercontent.com/Jursdotme/jquery-fillerup/master/testassets/hero-image.jpg');
  background-size: cover;
  background-position: center;
  .container {
    color: #fff;
  }
}
