/* You can add global styles to this file, and also import other style files */

.ui-dialog-titlebar {
  background:#192226 !important;
  color: #fff;
  border-bottom:4px solid #EE445F !important;
}

ui-dialog-titlebar-icon {
  background: #fff;
}

.close {
  color: #fff;
}
